.footer {
  background-color: $gray-darker;
  height: 100px;
  padding: 40px 0;
}
.footer i {
  font-size: 30px;
  color: $white;
  letter-spacing: 20px;
}


.footer p {
  font-size: 14px;
  color: $white;
}
