.footer {
  background-color: #333333;
  height: 100px;
  padding: 40px 0;
}
.footer i {
  font-size: 30px;
  color: #CCCCCC;
  letter-spacing: 20px;
}


.footer p {
  font-size: 14px;
  color: #CCCCCC;
}
